@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  @apply bg-void-950 text-slate-200;
  font-family: 'Georgia', serif;
  margin: 0;
}

canvas {
  display: block;
}
